/* body {
	font-size: 12px;
	line-height: 150%;
	font-family: 細明體, PMingLiU;
	letter-spacing: -0.2px;
} */

table {
	font-size: 9pt;
	line-height: 150%;
	font-family: 細明體, PMingLiU;
	letter-spacing: -0.2px;
}

a:link {
	color: blue;
	text-decoration: none;
}

a:visited {
	color: green;
	text-decoration: none;
}

a:active {
	color: orange;
}

a:hover {
	color: red;
	text-decoration: underline;
}